<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="My-Suite">
  <test preserve-order="true" name="CompleteProcessOfOrder">
    <classes>
      <class name="tests.Test_001_HomePage"/>
	  <class name="tests.Test_002_SignUpWithGoogle"/>
      <class name="tests.Test_003_SelectProduct"/>
      <class name="tests.Test_004_MyCartPage"/> 
  	  <class name="tests.Test_005_ShippingPage"/>
      <class name="tests.Test_006_Logout"/>
    </classes>
  </test> <!-- CompleteProcessOfOrder -->
</suite> <!-- Suite -->
